.dark_red {
  @green: #b7d085;
  @accent: #ffb3b1;
  --text: #f0dedd;
  --subtext0: #e6bdbb;
  --accent: @accent;
  --accent-background: fade(@accent, 10%);
  --accent-hover: darken(@accent, 5%);
  --blue: #c3c0ff;
  --sapphire: #84d5c4;
  --green: @green;
  --green-background: fade(@green, 10%);
  @surface0: #322827;
  --surface0: @surface0;
  --surface0-background: fade(@surface0, 10%);
  @surface1: #3d3232;
  --surface1: @surface1;
  --surface1-background: fade(@surface1, 10%);
  --red: #ffb3b1;
  --base: #1a1111;
  --mantle: #140c0c;
  --crust: #271d1d;
}
