.dark {
  @green: #95d5a7;
  @accent: #d1bcfe;
  --text: #e6e0e8;
  --subtext0: #eaddff;
  --accent: @accent;
  --accent-background: fade(@accent, 10%);
  --accent-hover: darken(@accent, 5%);
  --blue: #c2c1ff;
  --sapphire: #82d3e2;
  --green: @green;
  --green-background: fade(@green, 10%);
  @surface0: #332d41;
  --surface0: @surface0;
  --surface0-background: fade(@surface0, 10%);
  @surface1: #37265d;
  --surface1: @surface1;
  --surface1-background: fade(@surface1, 10%);
  --red: #ffb2b9;
  --base: #141218;
  --mantle: #0f0d13;
  --crust: #1d1b20;
}
