.latte {
  @green: #40a02b;
  @accent: #e64553;
  --text: #4c4f69;
  --subtext0: #6c6f85;
  --accent: @accent;
  --accent-background: fade(@accent, 10%);
  --accent-hover: darken(@accent, 5%);
  --yellow: #df8e1d;
  --green: @green;
  --green-background: fade(@green, 10%);
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
}
