<section>
  <div class="section-title">
    <p><span class="icon"></span> Languages</p>
    <hr>
  </div>
  <div class="languages">
    {% for language in languages %}
    <div class="language" data-language="{{ language.name | lower }}">
      <p>
        <span class="icon">
          <script>addIconCharacter('{{ language.name | lower }}')</script>
        </span> {{ language.name }}{% if language.learning %}<span class="learning">Learning</span>{% endif %}<span
          class="time">(...)</span>
      </p>
      {% if language.tools %}
      <div style="display: flex;">
        {% for tool in language.tools %}
        <a class="icon-link" target="_blank">
          <script>addIconCharacter('{{ tool | lower }}')</script>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
</section>
