<section>
  <p class="section-title">
    <span class="icon"></span> Skills
  </p>
  <div class="skills">
    {% for skill in skills %}
    <div class="skill" data-skill="{{ skill.name | lower }}">
      <div>
      <p>
        <span class="icon">
          <script>addIconCharacter('{{ skill.name | lower }}')</script>
        </span> {{ skill.name }}
      </p>
      <p class="time"> ...</p>
      </div> 
      <div style="display: flex;" class="tools">
        {% if skill.tools %}
          {% for tool in skill.tools %}
          <a class="icon-link" target="_blank" data-tool="{{ tool | lower }}">
            <script>addIconCharacter('{{ tool | lower }}')</script>
          </a>
          {% endfor %}
        {% endif %}
        {% if skill.learning %}
           <a class="icon-link learning" target="_blank" title="Learning"></a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
</section>
