<section>
  <p class="section-title">
    <span class="icon"></span> Languages
  </p>
  <div class="languages">
    {% for language in languages %}
    <div class="language" data-language="{{ language.name | lower }}">
      <p>
        <span class="icon">
          <script>addIconCharacter('{{ language.name | lower }}')</script>
        </span> {{ language.name }}<span
          class="time"> • ...</span>
      </p>
      <div style="display: flex;">
        {% if language.tools %}
          {% for tool in language.tools %}
          <a class="icon-link" target="_blank">
            <script>addIconCharacter('{{ tool | lower }}')</script>
          </a>
          {% endfor %}
        {% endif %}
        {% if language.learning %}
           <a class="icon-link learning" target="_blank" title="Learning"></a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
</section>
