<div class="profile"><img class="avatar" src="https://avatars.githubusercontent.com/u/60188749" alt="Avatar">
  <div>
    <h1>mxgic1337_</h1>
    <div class="socials"><a class="icon-link clickable" title="Twitch" href="https://twitch.tv/mxgic1337_"
        target="_blank">󰕃</a><a class="icon-link clickable" title="GitHub" href="https://github.com/mxgic1337"
        target="_blank"></a><a class="icon-link clickable" title="WakaTime" href="https://wakatime.com/@mxgic1337"
        target="_blank"></a></div>
  </div>
</div>
